@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body {
  min-width: 1440px;
  background: #181818;
  font-family: "Roboto", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.home .evokeLogo {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s cubic-bezier(0.39, 0.02, 0.15, 0.96);
  transition-delay: 1s;
}
.home .evokeLogo a {
  display: inline-block;
}
.home .evokeLogo a img {
  transform: scale(10);
  transition: 2.2s ease;
}
.home .tab {
  display: flex;
  gap: 60px;
  color: #444;
  font-size: 16px;
  justify-content: center;
  margin-top: 44px;
}
.home .tab li {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.home .tab li::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: #CFEE11;
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.home .tab li:hover {
  color: #fff;
}
.home .tab li.ac {
  color: #fff;
}
.home .tab li.ac::after {
  width: 25px;
}
.home .contents {
  display: flex;
  min-height: 58vh;
  gap: 20px;
  padding: 60px 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.home .contents .item {
  background-color: #111;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
  width: calc((100% - 60px) / 4);
  aspect-ratio: 1/1;
  display: none;
  border-radius: 8px;
}
.home .contents .item:hover img {
  scale: 1.05;
}
.home .contents .item:hover .dim {
  opacity: 1;
}
.home .contents .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.home .contents .item .dim {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(79, 79, 79, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.home .contents .item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8%;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
}
.home .contents .item .text .cate {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home .contents .item .text .cate span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.home .contents .item .text .cate span::before {
  content: "";
  width: 1px;
  height: 6px;
  background: rgba(208, 208, 208, 0.5);
  display: block;
}
.home .contents .item .text .cate span:first-child::before {
  display: none;
}
.home .contents .item .text .proj {
  margin-bottom: 6px;
}
.home .detail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.home .detail.modal {
  display: block;
}
.home .detail .item {
  background-color: #1D1D1D;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  width: 92vw;
  height: 80vh;
  max-width: 1440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: none;
}
.home .detail .item.on {
  display: flex;
  opacity: 0;
  transition: 0.5s;
}
.home .detail .item .close {
  width: 48px;
  aspect-ratio: 1/1;
  background: url(../img/btn_close.svg) center/cover no-repeat;
  position: absolute;
  top: -68px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
.home .detail .item .close:hover {
  opacity: 1;
}
.home .detail .item .left {
  width: 287px;
  flex: 0 0 287px;
  padding: 30px 0 30px 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.7s;
  transition-delay: 0.5s;
}
.home .detail .item .left .cate {
  margin-bottom: 6px;
}
.home .detail .item .left .name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.home .detail .item .left .period {
  display: flex;
  gap: 7px;
}
.home .detail .item .left .skill {
  display: flex;
  gap: 4px;
  margin: 18px 0;
}
.home .detail .item .left .skill div {
  width: 28px;
  height: 28px;
  background: center/cover no-repeat;
}
.home .detail .item .left .skill .skill_pho {
  background-image: url(../img/skill_photoshop.svg);
}
.home .detail .item .left .skill .skill_fig {
  background-image: url(../img/skill_figma.svg);
}
.home .detail .item .left .skill .skill_xd {
  background-image: url(../img/skill_XD.svg);
}
.home .detail .item .left .skill .skill_sass {
  background-image: url(../img/skill_sass.svg);
}
.home .detail .item .left .skill .skill_js {
  background-image: url(../img/skill_js.svg);
}
.home .detail .item .left .skill .skill_ts {
  background-image: url(../img/skill_ts.svg);
}
.home .detail .item .left .skill .skill_react {
  background-image: url(../img/skill_react.svg);
}
.home .detail .item .left .skill .skill_html {
  background-image: url(../img/skill_html.svg);
}
.home .detail .item .left .skill .skill_css {
  background-image: url(../img/skill_css.svg);
}
.home .detail .item .left .link {
  color: #CFEE11;
  font-size: 12px;
  padding-right: 10px;
  background: url(../img/ic_linkArr.svg) right center no-repeat;
  text-decoration: none;
}
.home .detail .item .left .link:hover {
  text-decoration: underline;
}
.home .detail .item .left .contact {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 10px;
  background-color: #0f0f0f;
  color: #CFEE11;
  font-size: 14px;
  text-decoration: none;
  z-index: 10;
}
.home .detail .item .right {
  display: flex;
  padding: 30px 30px 30px 0;
  box-sizing: border-box;
  flex: 1 0 0;
  flex-wrap: wrap;
  gap: 2px;
  height: 100%;
  overflow: auto;
}
.home .detail .item .right::before, .home .detail .item .right::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(29, 29, 29, 0), rgb(29, 29, 29) 91.18%);
}
.home .detail .item .right::before {
  bottom: unset;
  top: -1px;
  background: linear-gradient(rgb(29, 29, 29), rgba(29, 29, 29, 0));
  height: 10px;
}
.home .detail .item .right img {
  width: calc((100% - 10px) / 2);
  aspect-ratio: 421/342;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border: 4px solid transparent;
}
.home .detail .item .right img.wide {
  width: 100%;
  aspect-ratio: 853/235;
  aspect-ratio: auto;
}
.home .detail .item .right img:hover {
  border-color: #CFEE11;
}

.mail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: 0.3s cubic-bezier(0.96, 0, 1, 1);
  transition-delay: 0.2s;
}
.mail img {
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mail:hover {
  box-shadow: 0 5px 30px 0 rgba(207, 238, 17, 0.12);
}
.mail:hover img {
  transform: translateY(-4px);
}

footer {
  padding: 50px;
  box-sizing: border-box;
  margin-top: 42px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.02);
  transition: 0.5s cubic-bezier(0.96, 0, 1, 1);
}
footer .logo {
  opacity: 0.4;
}
footer .copyright {
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */