 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
 @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

 body {
    // min-width: 1440px;
     background: #181818;
     font-family: 'Roboto', "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
 }

 $trans: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
 $modalLeftWidth: 287px;
 .home {
    min-height: 80vh;

     .evokeLogo {
         margin: 0 auto;
        //  margin-top: 90px;
         text-align: center;
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: 2s cubic-bezier(0.39, 0.02, 0.15, 0.96);
         transition-delay: 1s;
         a {
             display: inline-block;
             img {
                transform: scale(10.0);
                transition: 2.2s ease;
             }
         }
     }

     .tab {
         display: flex;
         gap: 60px;
         color: #444;
         font-size: 16px;
         justify-content: center;
         margin-top: 44px;

         li {
             cursor: pointer;
             position: relative;
             transition: 0.5s;

             &::after {
                 content: '';
                 position: absolute;
                 left: 50%;
                 transform: translateX(-50%);
                 bottom: -13px;
                 display: block;
                 width: 0;
                 height: 4px;
                 border-radius: 4px;
                 background-color: #CFEE11;
                 transition: $trans;
             }

             &:hover {
                 color: #fff;
             }

             &.ac {
                 color: #fff;

                 &::after {
                     width: 25px;
                 }
            }
        }
        @media screen and (max-width:768px) {
            gap: 10px;
            li {
                padding: 15px;
            }
        }
     }

     .contents {
         display: flex;
        //  min-height: 58vh;
         gap: 20px;
         padding: 60px 30px;
         flex-wrap: wrap;
         align-items: flex-start;
         @media screen and (max-width:480px) {
            padding: 40px 20px;
         }

         .item {
             background-color: #111;
             overflow: hidden;
             position: relative;
             flex: 0 0 auto;
             width: calc((100% - 60px) / 4);
             @media screen and (max-width:768px) {
                width: calc((100% - 40px) / 3);
             }
             @media screen and (max-width:480px) {
                width: calc((100% - 20px) / 2);
             }
             aspect-ratio: 1/1;
             display:none;
            border-radius: 8px;

             &:hover {
                 img {
                     scale: 1.05;
                 }

                 .dim {
                     opacity: 1;
                 }
             }

             img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 transition: $trans;
             }

             .dim {
                 cursor: pointer;
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background: rgba(79, 79, 79, 0.2);
                 backdrop-filter: blur(5px);
                 opacity: 0;
                 transition: $trans;
             }

             .text {
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 width: 100%;
                 padding: 8%;
                 box-sizing: border-box;
                 color: #fff;
                 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);

                 .cate {
                     margin-bottom: 8px;
                     display: flex;
                     align-items: center;
                     gap: 5px;

                     span {
                         display: flex;
                         align-items: center;
                         gap: 5px;

                         &::before {
                             content: '';
                             width: 1px;
                             height: 6px;
                             background: rgba(208, 208, 208, 0.5);
                             display: block;
                         }

                         &:first-child::before {
                             display: none;
                         }
                     }
                 }

                 .proj {
                     margin-bottom: 6px;
                 }
             }
         }
     }

     .detail {
         display: none;

         &.modal {
             display: block;
         }

         position:fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);


         .item {
             background-color: #1D1D1D;
             // padding: 30px;
             font-size: 14px;
             color: rgba(255, 255, 255, 0.5);
             box-sizing: border-box;
             width: 92vw;
             height: 80vh;
             max-width: 1440px;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -40%);
             display: none;

             &.on {
                 display: flex;
                 opacity: 0;
                 transition: 0.5s;
             }

             .close {
                 width: 48px;
                 aspect-ratio: 1/1;
                 background: url(../img/btn_close.svg) center/cover no-repeat;
                 position: absolute;
                 top: -68px;
                 left: 0;
                 right: 0;
                 margin: 0 auto;
                 text-indent: -9999px;
                 cursor: pointer;
                 opacity: 0.8;

                 &:hover {
                     opacity: 1;
                 }
             }
             .left {
                 width: $modalLeftWidth;
                 flex: 0 0 287px;
                 padding: 30px 0 30px 30px;
                 opacity: 0;
                 transform: translateY(20px);
                 transition: 0.7s;
                 transition-delay: 0.5s;
                 box-sizing: border-box;

                 .cate {
                     margin-bottom: 6px;
                 }

                 .name {
                     color: #fff;
                     font-size: 16px;
                     font-weight: bold;
                     margin-bottom: 6px;
                 }

                 .period {
                     display: flex;
                     gap: 7px;
                 }

                 .skill {
                     display: flex;
                     gap: 4px;
                     margin: 18px 0;

                     div {
                         width: 28px;
                         height: 28px;
                         background: center/cover no-repeat
                     }

                     .skill_pho {
                         background-image: url(../img/skill_photoshop.svg);
                     }

                     .skill_fig {
                         background-image: url(../img/skill_figma.svg);
                     }

                     .skill_xd {
                         background-image: url(../img/skill_XD.svg);
                     }
                     .skill_sass {
                         background-image: url(../img/skill_sass.svg);
                     }
                     .skill_js {
                         background-image: url(../img/skill_js.svg);
                     }
                     .skill_ts {
                         background-image: url(../img/skill_ts.svg);
                     }
                     .skill_react {
                         background-image: url(../img/skill_react.svg);
                     }
                     .skill_html {
                         background-image: url(../img/skill_html.svg);
                     }
                     .skill_css {
                         background-image: url(../img/skill_css.svg);
                     }
                 }

                 .link {
                     color: #CFEE11;
                     font-size: 12px;
                     padding-right: 10px;
                     background: url(../img/ic_linkArr.svg) right center no-repeat;
                     text-decoration: none;

                     &:hover {
                         text-decoration: underline;
                     }
                 }

                 .contact {
                     position: absolute;
                     bottom: 30px;
                     left: 30px;
                     padding: 10px;
                     background-color: #0f0f0f;
                     color: #CFEE11;
                     font-size: 14px;
                     text-decoration: none;
                     z-index: 10;
                 }
             }

             .right {
                 display: flex;
                 padding: 30px 30px 30px 0;
                 box-sizing: border-box;
                 flex: 1 0 0;
                 flex-wrap: wrap;
                 gap: 2px;
                 height: 100%;
                 overflow: auto;
                &::before,
                 &::after {
                     content: '';
                     position: absolute;
                     right: 0;
                     left: 0;
                     bottom: -1px;
                     width: 100%;
                     height: 50px;
                     background: linear-gradient(rgba(29, 29, 29, 0), rgb(29, 29, 29) 91.18%);
                 }
                 &::before {
                    bottom: unset;
                    top: -1px;
                    background: linear-gradient(rgb(29, 29, 29), rgba(29, 29, 29, 0%));
                    height: 10px;
                 }
                &::after {
                    left: unset;
                    width: calc(100% - $modalLeftWidth)
                }

                 img {
                     width: calc((100% - 10px) / 2);
                     aspect-ratio: 421/342;
                     object-fit: cover;
                     border-radius: 8px;
                     overflow: hidden;
                     box-sizing: border-box;
                     border: 4px solid transparent;
                     &.wide {
                         width: 100%;
                         aspect-ratio: 853/235;
                         aspect-ratio: auto;
                     }
                     &:hover {
                        border-color:#CFEE11;
                     }
                 }
             }
             @media screen and (max-width:768px) {
                flex-direction: column;
                width: 100vw;
                height: 100vh;
                overflow: auto;
                .close {
                    position: sticky;
                    flex: 0 0 48px;
                    right: 20px;
                    top: 20px;
                    left: unset;
                    height: 48px;
                    display: block;
                    margin: 0;
                    margin-left: auto;
                    z-index: 2;
                    flex: 0 0 auto;
                }
                .left {
                    width: 100%;
                    padding-top: 20px;
                    flex: 0 0 auto;
                    position: sticky;
                    top: 48px;
                    .contact {
                        display: none;
                    }
                }
                .right {
                    z-index: 1;
                    flex: 1 0 auto;
                    height: auto;
                    overflow: visible;
                    padding-right: 0;
                    img {
                        border-radius: 20px;
                    }
                    &::before,
                    &::after {
                        display: none;
                    }
                }
             }
            }
        }
    }
    .mail {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        transition: 0.3s cubic-bezier(0.96, 0, 1, 1); 
        transition-delay: 0.2s;
        img {
            transition: $trans;
        }
        &:hover {
            img {
                transform: translateY(-4px);
             }
             box-shadow: 0 5px 30px 0 rgb(207 238 17 / 12%);
        }
     }
    footer {
        padding: 50px;
        box-sizing: border-box;
        margin-top: 42px;
        text-align: center;
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.02);
        transition: 0.5s cubic-bezier(0.96, 0, 1, 1);
        .logo {
            opacity: 0.4;
        }
        .copyright {
            margin-top: 20px;
        }
        
    }
